html {
  scroll-behavior: smooth;
}
:root {
  --light-blue: #4db1ec;
  --blue: #1665cc;
  --purple: #b473bf;
  --pink: #ffb2c1;
  --orange: #ff9f67;
  --yellow: #ffd673;
  --light-green: #a2e29b;
  --green: #00a2af;
  --grey: #333;
  --white: #fff;
}
header {
  background: #333;
  padding: 1rem 0;
  /*固定表示のための記述*/
  position: fixed;
  width: 100%;
  z-index: 1;
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

}
.btn-menu {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(255,255,255,.5);
  color: var(--white);
  padding: 0.5rem 1rem;

}
#hero {
  background-color: #4db1ec;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  height: 100vh;
  display: flex;
  align-items: center;
}
.main-nav {
  background: var(--grey);
  width: 0;
  position: absolute;
  Z-index: 2;
  top: 50px;
  right: 0;
  overflow: hidden;
  transition: .5s;
}
.main-nav.open-menu {
  width: 100%;
}
.main-nav li {
  text-align: center;
  margin: 2rem 0;

}
.main-nav a {
  display: block;
}
header a {
  color: var(--white);
  font-size: 1.5rem;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}
header, h1,h2, .hero-date {
  font-family: impact, sans-serif;
}
@media (min-width: 600px) {
.main-nav {
  width: 100%;
  position: static;
  display: flex;;
}
.main-nav li {
  margin: 0 0 0 1.5rem;
}
.btn-menu {
  display: none;
}
}

