html {
  scroll-behavior: smooth;
}
:root {
  --light-blue: #4db1ec;
  --blue: #1665cc;
  --purple: #b473bf;
  --pink: #ffb2c1;
  --orange: #ff9f67;
  --yellow: #ffd673;
  --light-green: #a2e29b;
  --green: #00a2af;
  --grey: #333;
  --white: #fff;
}
header {
  
  background: #333;
  padding: 1rem 0;
  /*固定表示のための記述*/
  position: fixed;
  width: 100%;
  z-index: 1;
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

}
.btn-menu {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(255,255,255,.5);
  color: var(--white);
  padding: 0.5rem 1rem;

}
.home-pege {
color: #FFE5AE;
text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000,0 -1px 0 #000;
}
#hero {
  background-color: var(--light-blue);
  background-image: url('../images/sato.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  animation: bg-color 24s infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  -webkit-clip-path: polygon(0 0 ,100% 0 , 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
@keyframes bg-color {
  0% { background-color: var(--light-blue);}
  12.5% { background-color: var(--blue);}
  25% { background-color: var(--purple);}
  37.5% { background-color: var(--pink);}
  50% { background-color: var(--orange);}
  62.5% { background-color: var(--light-green);}
  75% { background-color: var(--green);}
  87.5% { background-color: var(--yellow);}
  100% {background-color: var(--light-blue);}
}
.main-nav {
  background: var(--grey);
  width: 0;
  position: absolute;
  Z-index: 2;
  top: 50px;
  right: 0;
  overflow: hidden;
  transition: .5s;
}
.main-nav.open-menu {
  width: 100%;
}
.main-nav li {
  text-align: center;
  margin: 2rem 0;

}
.main-nav a {
  display: block;
}
header a {
  color: var(--white);
  font-size: 1.5rem;
  transition: all 0.3s ease;

}
a:hover {
  color: var(--blue);
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}
header, h1,h2, .hero-date {
  font-family: impact, sans-serif;
}
#hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
h1 {
  text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff,0 -1px 0 #fff;
}
.hero-date1 {
  line-height: 2.0;
  color: var(--white);
  
}

.sign-up {
  display: inline-block;
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  font-size:17px;
  padding:0 3em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 20px;
}
a.sign-up {
  line-height: 30px;
}
.sign-up:hover{
  background:#fff;
  color:#1AAB8A;
}
.sign-up:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.sign-up:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.sign-up:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.hero-date2 {
  line-height: 1.7rem;
  margin-top: 2rem;

}
.hero-date {
  text-align: center;
  border-top: 3px solid var(--grey);
  border-bottom: 3px solid var(--grey);
  padding: 0.5rem 0;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff,0 -1px 0 #fff;

}
img {
  max-width: 100%;
}
#about {
  padding: 4rem 1rem;
}
#about h2 {
  background: linear-gradient(var(--yellow), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
#about p {
  margin-bottom: 2rem;
}
#news { 
  background-image: linear-gradient( var(--green), var(--yellow));
  padding: 7rem 0;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
#news h2 {
  color: var(--white);
}
.news-table {
  color: var(--white);
  width: 100%;
}
.news-table
td {
  display: block;
  line-height: 1.5rem;
}
.news-table 
tr {
  border-bottom: 1px solid rgba(255,255,255,.5);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.news-content {
  padding-bottom: 1rem;
}
#speakers {
  padding: 4rem 1rem;
}
#speakers
h2 {
  background: linear-gradient(var(--light-blue),var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.speakers-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}


h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;;
}
#speakers
img {
  border-radius: 50%;
  width: 20%;

}
#ticket {
  background-image: linear-gradient(var(--pink), var(--yellow));
  padding: 6rem 1rem 2rem;
  clip-path: polygon(0 0 , 100% 10%, 100% 100%, 0 100%);
}
#ticket h2 {
  color: var(--white);
}
.ticket-form {
  max-width: 480px;
  margin: 0 auto 5rem;
}
.ticket-form label {
  color: var(--white);
  display: block;

}
.sub-title {
  border-bottom: 2px #0bd solid;
  font-weight: normal;
  padding: 15px 0 ;
}
.ticket-field {
  background: rgba(255,255,255,.6);
  padding: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.ticket-btn {
  background: var(--grey);
  color: var(--white);
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;

}
.footer {
  border-top: 1px solid rgba(255,255,255,.5);
  padding-top: 2rem;
  text-align: center;
  font-size: .875rem;
  color: var(--gray);
}
iframe {
  width: 100%;
}
#sns {
  display: flex;
}
@media (min-width: 600px) {
.main-nav {
  width: 100%;
  position: static;
  display: flex;
  margin-bottom: 0.5rem;
}
.home-pege {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #FFE5AE;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000,0 -1px 0 #000;
  
  
}
#sns {
  background: #FAF7F0;
  padding: 4% 0;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
#sns .sub-title {
  margin-bottom: 30px;
}
.sub-title {
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

.sns-box {
  width: 30%;
}
.sns-box {
  margin-bottom: 30px;
}

.sign-up {
  display: inline-block;
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  font-size:17px;
  padding:0 3em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 20px;
}
a.sign-up {
  line-height: 30px;
}
.sign-up:hover{
  background:#fff;
  color:#1AAB8A;
}
.sign-up:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.sign-up:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.sign-up:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
h2 {
  font-size: 5rem;
  text-align: center;
}
.hero-date {
  font-size: 3rem;
  text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff,0 -1px 0 #fff;
}
.main-nav li {
  margin: 0 0 0 1.5rem;
}
.btn-menu {
  display: none;
}
#hero h1 {
  font-size: 6.875rem;
}
#speakers
h2 {
  margin-bottom: 4rem;
}
#speakers-list {
  margin-bottom: 3rem;
}
.speakers-text {
  margin-left: 2rem;
}

}
